footer{
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo_footer{
    width: 140px;
    height: 50px;
    background-color: var(--color3);
}
.creditos{
    color: #fff;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
}
.creditos img{
    width: 4rem;
}
.email-icon{
    font-size: 1.3rem;
    margin-right: .5rem;
}