.section_projetos {
  background-color: var(--color1-variation);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 2rem;
}
.section_projetos h2 {
  color: var(--color3);
  font-size: 1.5rem;
  text-align: center;
}
.projetos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 500px;
}
.projeto:hover {
  animation-name: wide;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}
.projeto h3 {
  font-size: calc(1rem + 0.5vw);
  margin-top: 2rem;
}
.img_projeto {
  margin-top: 0.5rem;
  width: 100%;

  box-shadow: 0.5rem 0.5rem 0px var(--color3);
}

.button {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  background-color: var(--color3);
  padding: 1rem 1.5rem;
  font-size: 1rem;

  box-shadow: 0.5rem 0.5rem 0px var(--color2);

  color: #fff;
}

.biger {
    color: #fff;
  width: 100vw;
  max-width: unset;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  margin: unset;
  padding: unset;

  z-index: 2;
}

@media (min-width: 600px) {
  .biger {
    width: 70vw;
    max-width: unset;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    margin: unset;
  }

  

}
@keyframes wide {
  from {transform: scale(1);}
  to {transform: scale(1.1)}
}